/* mobile */
@media screen and (max-width: 1100px){
}

/* for all */
* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
  grid-area: header;
  background-color: #969948;
  height: 70px;
}

body {
    display: grid;
    grid-template-areas: "header header"
                        "content content";
}
/* navigation bar */
  .navContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end
  }
  a:link {
    text-decoration: none;
    color: black;
  }
  a:visited {
    text-decoration: none;
    color: black;
  }
  a:hover {
	top: 50%;
	left: 50%;
    color: white;
    text-decoration: none;
  }
  a:active {
	top: 50%;
	left: 50%;
    text-decoration: none;
    color: black;
  }

main {
    background: url('../images/beige.jpg');
    grid-area: content;
    height: 600px;

}
/* home page */
    .title {

    }
    .titlePage {
        color: black;
        display: flex;
        justify-content: space-around
       
    }

/* about me page */
    .bio-page {
        display: flex;
        justify-content: center, space-evenly;
        align-items: flex-start;
    }
    .headshot {
        border-radius: 50%;
        float: left;
    }
    .bio {
        display: inline-block;
        width: 400px;
        border: 16px solid #000;
        text-align: center;
    }
/* contact me page */
    .contact-form {
        display: grid;
        grid-template-areas:"header header"
                            "title title"
                            "content content";
    }
    .contact-info {
        display: grid;
        grid-template-areas:"header header"
                            "title title"
                            "content content";
    }
    .contact-me {
        display: grid;
        grid-template-areas:"header header"
                            "title title"
                            "content content";
        display: inline-block;
        width: 250px;
        border: 15px solid #000;
        text-align: center;
    }

/* projects page */
    .projects {
        display: grid;
        grid-template-areas: "project-image project"
                             "project-image project";
        
    } 
    .project-image {
        display: grid;
        grid-template-areas: "project-image project"
                             "project-image project";
        width: 300px;
        height: auto;
    }
