@media screen and (max-width: 1100px){
    
}
header {
  grid-area: header;
  background-color: blue;
}
body {
    display: grid;
    width: 75vw;
    grid-template-areas: "header header"
                        "content content"
                        "footer footer";
  }
  
  .navContainer {
    display: flex;
    justify-content: space-around
  }

main {
    background-color: aquamarine;
    grid-area: content;

}
    .titlePage {
        color: purple;
        display: flex;
        justify-content: space-around
       
    }

  footer {
    background-color: orange;
    grid-area: footer;
  }