@media screen and (max-width: 1100px){
}

* {
    margin: 0;
}



header {
  grid-area: header;
  background-color: #969948;
  height: 100px;
}

body {
    display: grid;
    grid-template-areas: "header header"
                        "content content"
                        "footer footer";
}
  
  .navContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end
  }
  a:link {
    text-decoration: none;
    color: black;
  }
  a:visited {
    text-decoration: none;
    color: black;
  }
  a:hover {
	top: 50%;
	left: 50%;
    color: peru;
    text-decoration: none;
  }
  a:active {
	top: 50%;
	left: 50%;
    text-decoration: none;
    color: black;
  }

main {
    background: url('../images/beige.jpg');
    background-color: aquamarine;
    grid-area: content;
    height: 600px;

}
    .titlePage {
        color: black;
        display: flex;
        justify-content: space-around
       
    }

    .projects {
        display: grid;
        grid-template-areas: "project project"
                            "project project";
        
    } 

footer {
    background-color: orange;
    grid-area: footer;
    height: 100px;
}